body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  ol, ul {
    padding-left: 30px;
  }

  .game {
    width: 330px;
    margin: 0 auto 0 auto;
  }

  button {
    padding: 10px;
    border-radius: 5px;
    margin: 15px 5px 0 5px;
  }

  .game-intro {
    text-align: center;
    margin-bottom: 30px;
  }

  .board {
    border: 5px solid red;
  }

  .board-row {
    display: flex;
  }

  .board-row:nth-of-type(1),
  .board-row:nth-of-type(2) {
    border-bottom: 2px solid black;
  }

  .part:nth-of-type(1),
  .part:nth-of-type(2) {
    border-right: 2px solid black;
  }

  .part-row {
    display: flex;
  }

  .status {
    margin-bottom: 10px;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .square:focus {
    outline: none;
  }

